<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="static\css\main.css">
</head>
<body>
    <div class="Update-container">
        <div class="horizontal-navigator">
            <h1>Academic Task Manager</h1>
            <nav>
                <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="Task.html">Tasks</a></li>
                    <li><a href="Notifications.html">Notifications</a></li>
                    <li><a href="Achievements.html">Achievements</a></li>
                    <li><a href="Feedback.html">Feedback</a></li>
                </ul>
            </nav>
        </div>
<section class="add-task-section">
        <div class="Tasks-main-content">
            <div class="task-list">
                <div class="task">
                    <div class="task-info">
                        <h2>Achievement 1</h2>
                        <p>Achievement levelS</p>
                    </div>
                    <div class="task-actions">
                        <p>Date: January 1, 2025</p>
                        <button class="mark-done">Delete</button>
                    </div>
                </div>
                <!-- More achievements can be added here -->
                   
    
            </div>
        </div>
    </section>
</div>



</body>
</html>
