{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

<div class="home-container">
    <div class="home-box"> 
         <div class="side-navigator">
        <h2>Your latest achievments</h2>
        <ul class="task-list">
            <li>Achuevment 1 </li>
            <li>Achievment 2</li>
            <li>Achievment 3</li>
        </ul></div>
    </div>
    <div class="home-box">
        <div class="main-content">
        <div class="task-box">
            <h2>Upcomming Tasks</h2>
            <div class="task-item">
                <h3>Task 1</h3>
                <p>Date: January 1, 2024</p>
            </div>
            <div class="task-item">
                <h3>Task 2</h3>
                <p>Date: January 5, 2024</p>
            </div> 
        </div>
</div>
</div>  
<div class="home-box"> 
<div class="side-navigator">
<h2>Your latest notifications</h2>
<ul class="task-list">
   <li>Notification 1 </li>
   <li>Notification 2</li>
   <li>Notification 3</li>  
</ul>
</div>
</div>  
        </div>
    {% endblock %}
