{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

<div class="home-container">
    <div class="home-box"> 
         <div class="side-navigator">
        <h2>First achievements</h2>
        <ul class="task-list">

            {% for achievement in achievements[:3] %}
                
            <li>{{ achievement.achievement_name }}</li>
            {% endfor %}

        </ul></div>
    </div>
    <div class="home-box">
        <div class="main-content">
        <div class="task-box">
            <h2>Upcoming Tasks</h2>
            {% for task in tasks[:3] %}
                <div class="task-item">
                    <h3>{{ task.task_name }}</h3>
                    <p>Date: {{ task.date_created.strftime('%B %d, %Y') }}</p>
                </div>
            {% endfor %}


        </div>
</div>
</div>  
<div class="home-box"> 
<div class="side-navigator">
<h2>Your latest notifications</h2>
<ul class="task-list">

    {% for notification in notifications[:3] %}
        <li>{{ notification.content }}</li>
    {% endfor %}

</ul>
</div>
</div>  
        </div>
    {% endblock %}
