{% extends 'base.html' %}

{% block head %}
<title>Log in</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="form-box">
            <h2>Log In</h2>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.username }}
                {{ form.password }}
                {{ form.submit }}
            </form>
            <p>Don't have an account? <a href="/register">Sign up</a></p>
        </div>
    </div>
    {% endblock %}
