{% extends 'base.html' %}

{% block head %}
<title>Notifications</title>
{% endblock %}


{% block body %}
<section class="add-task-section">
        <div class="Tasks-main-content">
            <div class="task-list">
                <div class="task">
                    <div class="task-info">
                        <h2>Notification 1</h2>
                        <p>Description of Notification 1</p>
                    </div>
                    <div class="task-actions">
                        <p>Date: January 1, 2025</p>
                        <button class="mark-done">Delete</button>
                    </div>
                </div>
                <!-- More notifications can be added here -->
                   
    
            </div>
        </div>
    </section>
</div>
{% endblock %}

