{% extends 'base.html' %}

{% block head %}
<title>Notifications</title>
{% endblock %}


{% block body %}


<section class="add-task-section">
    <div class="Tasks-main-content">
        {% if notifications|length < 1 %}
        <h4>There are no notifications.</h4>
    
        {% else %}

        <div class="task-list">
            {% for notification in notifications %}
            <div class="task">
                <div class="task-info">
                    <h2>Notification</h2>
                    <p>{{ notification.content }}</p>
                </div>
                <div class="task-actions">
                    <p>Date: {{ notification.date_created }}</p>
                    <a href="/deleteNotification/{{notification.id}}"><button class="mark-done">Delete</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</section>
{% endblock %}

