{% extends 'base.html' %}


{% block head %}
<title>Create account</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="form-box">
        <h2>Create New Account</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.email }}
            {{ form.password }}
            {{ form.submit }}
        </form>
        <p>Already have an account? <a href= "/login">Log in</a></p>
    </div>
</div>

{% endblock %}

