{% extends 'base.html' %}

{% block head %}
<title>Tasks</title>
{% endblock %}


{% block body %}

<section class="add-task-section">
    <h3>Tasks</h3>
    <div class="Tasks-main-content">
        {% if tasks|length < 1 %}
        <h4>There are no tasks.</h4>
    
        {% else %}

        <div class="task-list">
            {% for task in tasks %} <!-- Modifier cette partie -->
            <div class="task">

                <div class="task-info">
                    <h2><a href="/update/{{task.id}}">{{ task.task_name }}</a></h2>
                    <p>{{ task.content }}</p>
                </div>

                <div class="task-actions">
                    <p>Due Date: {{ task.date_created.strftime('%B %d, %Y') }}</p>
                    <a href="/delete/{{task.id}}"><button class="mark-done">Mark as Done</button></a>
                </div>
            </div>
                {% endfor %}
        </div>
        {% endif %}

    </div>
</section>


<!--Add task button-->
<div class="add-task-button">
    <a href="/addTask">Add task</a>
</div>

{% endblock %}
