<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="Update-container">
        <div class="horizontal-navigator">
            <h1>Academic Task Manager</h1>
            <nav>
                <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="Task.html">Tasks</a></li>
                    <li><a href="Notifications.html">Notifications</a></li>
                    <li><a href="Notifications.html">Achievements</a></li>
                    <li><a href="Feedback.html">Feedback</a></li>
                </ul>
            </nav>
        </div>
        <section class="add-update-section">
        <div class="Update-main-content">  
            <div class="task-details">                      
                <h2>Task Name</h2>
                <div class="task-description">
                    <p>Description of the task</p>
                </div>
                <p>Due Date: January 1, 2025</p>
                <div class="task-actions">
                    <button class="delete-task">Delete</button>
                    <button class="update-task"> <a href="Update.html">Update</a></button>
                    <button class="mark-done">Mark as Done</button>
                </div>
            </div>        
        </div> 
    </section>  
    </div>
</body>
</html>
